@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --primary-color: #1e88e5;
    --secondary-color: #ff8f00;
    --gray-color: #747474;
    --error-color: red;
}

.hover:hover {
    cursor: pointer;
}
