<nav class="sidemenu">
    <ul>
        <li>
            <img src="/assets/images/logo.png" width="40px">
            <span class="logo">Sistema Acadêmico</span>
        </li>
        <li routerLink="/home">
            <mat-icon>home</mat-icon>Home
        </li>
        <li routerLink="/professor">
            <mat-icon>person-add</mat-icon>Casdastrar Professores
        </li>
        <li routerLink="/login">
            <mat-icon (click)="logout()">logout</mat-icon>Sair
        </li>
    </ul>
</nav>